html {
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "DM Sans";
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p,
li,
dl {
  font-size: 16px;
  line-height: 2;
}

/* Data lists styling */

dt {
  font-weight: bold;
  font-style: italic;
}

dd,
dt {
  display: inline;
}
dd::after {
  content: "";
  display: block;
}

html {
  /* background-color: #b58ef57f; */
  /* background-color: #cbc3e3; */
  background-color: #fce5fc;
}

body {
  width: 90vw;
  margin: 0 auto;
  /* background-color: #5a3fa6; */
  padding: 0 20px 20px 20px;
  /* border: 5px solid black; */
  display: grid;
  grid-template-areas:
    "top"
    "content"
    "footer";
  gap: 20px;
}

nav {
  /* background-color: #9f6df07f; */
  background-color: #caadff;
}

.page_top {
  grid-area: "top";
}

main {
  grid-area: "content";
}

footer {
  grid-area: "footer";
  background-color: #9f6df07f;
  color: black;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 50px 0;
  color: white;
  /* text-shadow: 3px 3px 1px black; */
}

/* Icon after external links */

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.25em;

  background-size: 100%;
  background-image: url("../images/external-link.png");
}

/* 
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
} 
*/

/* Internal links styling */

nav ul li {
  font-weight: 750;
  font-size: 200%;
  font-family: "DM Sans";
}

/* Internal links are not highlighted */

.inner_nav a:link,
.inner_nav a:visited,
.inner_nav a:hover {
  text-decoration: none;
}

/* Making the navigation list in the same line and with buttons */

nav ul {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  list-style: none;
  justify-content: space-around;
}

nav ul li a {
  /* background-color: #eac3fc; */
  color: black;
  text-decoration: none;
  padding: 0.5em 2em;
}

nav ~ li {
  margin: 5px;
}

nav ul li a:hover {
  /* background-color: #dc98fc9d; */
  color: white;
}

/* nav ul li a:active {
  background-color: #b58ef57f;
  color: grey;
} */

/* Styling the images above every page */

header.index_head {
  background-image: url("../images/antelope-canyon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.other_head {
  background-image: url("../images/Brig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.papers_head {
  background-image: url("../images/Werden.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.talks_head {
  background-image: url("../images/new-york1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

header {
  width: 90vw;
  height: 25vh;
}

/* Making images in the body be to the left of the page */

/* body img {
  float: left;
  margin-right: 15px;
  max-width: 50%;
  max-height: 50%;
} */

.img_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main img {
  grid-column: 1;
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: auto;
}

.main_text {
  grid-column: 2;
}

/* Button styling */

button {
  font-family: "DM Sans";
  background-color: #caadff;
}
